doctype html
html()
    head
        meta(charset="UTF-8")
        title p-l-a-y
            
        link(rel="stylesheet", href="css/style.css")
        script(src="js/main.js")
    body
        video#video
        #overlay
            #pre Drop .mp4 file here
